* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

header {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: dodgerblue;
    color: white;
    padding: 15px;
    margin-bottom: 50px;
}

header h1 {
    margin: 0;
}

header a {
    position: absolute;
    right: 10px;
    text-decoration: none;
    color: inherit;
}

button {
    cursor: pointer;
}

#password-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.password-item {
    box-shadow: black 0px 0px 1px;
    padding: 20px;
    margin-bottom: 50px;
    width: 40%;
    text-align: center;
    transition: 0.5s;
}

.password-item:hover {
    box-shadow: black 1px 1px 6px;
}

.password-item h2 {
    margin-bottom: 20px;
}

.input-area {
    display: flex;
    justify-content: center;
}

.password-item input {
    width: 40%;
    outline: none;
    border-top: 1px solid;
    border-left: 1px solid;
    border-right: none;
    border-bottom: 1px solid;
    padding: 10px;
    transition: 0.5s;
}

.password-item button {
    cursor: pointer;
    border-top: 1px black solid;
    border-left: none;
    border-right: 1px black solid;
    border-bottom: 1px black solid;
    color: white;
    background-color: rgb(42, 116, 165);
    padding: 10px;
}

.go-back-btn {
    cursor: pointer;
    border: 1px black solid;
    color: white;
    background-color: rgb(42, 116, 165);
    padding: 10px;   
}

#error-container {
    display: flex;
    justify-content: center;
}

#error-message {
    display: none;
    background-color: red;
    color: white;
    padding: 15px;
    border-radius: 5px;
}